server:
    servlet.path: /weixin-java-mp-demo-springboot
    port: 8080
wx.mp:
    configs:
    - app-id: 1111 # （一个公众号的appid）
      secret: 1111 #（公众号的appsecret）
      token: 111 #（接口配置里的Token值）
      aes-key: 111 #（接口配置里的EncodingAESKey值）
    - app-id: 2222 #（另一个公众号的appid，以下同上）
      secret: 1111
      token: 111
      aes-key: 111
